In [1]:
#importing pandas package
import pandas as pd

In [2]:
#reading the csv file by using read_csv() function

#sample data set of country bank reserves.
sample_data=pd.read_csv(r"D:\Temp\Data Science & Artificial Intelligence\Sample Dataset\archive (2)\Country_Bank_Reserves.csv")

In [3]:
sample_data

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
...,...,...,...,...,...,...,...
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [4]:
len(sample_data)

234

In [5]:
sample_data.columns

Index(['Country or Area', 'Year', 'Cost to export', 'Cost of Import',
       'Reserves', 'Description', 'Magnitude'],
      dtype='object')

In [6]:
len(sample_data.columns)

7

In [7]:
sample_data.shape#the shape variable can returns the number of row and columns are present in a dataset.

(234, 7)

In [8]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  234 non-null    object
 1   Year             234 non-null    int64
 2   Cost to export   234 non-null    float64
 3   Cost of Import   234 non-null    float64
 4   Reserves         234 non-null    float64
 5   Description      234 non-null    object
 6   Magnitude        234 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 12.9+ KB

In [9]:
sample_data.head()

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.0,870.0,100.0,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.0,1640.0,121172.0,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.0,3460.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS

In [10]:
sample_data.tail()

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [11]:
sample_data.tail(3)

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
231,Yemen,2014,1560.0,1065.0,9894150.0,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.0,5165.0,9894150.0,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.0,4265.0,15511000.0,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [12]:
#slicing in pandas



sample_data[:]#this will give total dataframe.

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
...,...,...,...,...,...,...,...
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [13]:
sample_data[20:]#it will give the dataframe from 20th row to last row.

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
20,Mozambique,2014,1600.000000,1100.000000,1.086570e+08,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
21,Afghanistan,2014,5680.000000,5045.000000,1.284670e+08,SDR HOLDINGS,MILLIONS OF SDRS
22,Liberia,2014,1320.000000,1320.000000,1.284910e+08,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
23,Malawi,2014,2895.000000,2200.000000,1.362140e+08,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
24,Maldives,2014,1610.000000,1625.000000,1.664740e+08,RESERVE POSITION IN THE FUND,MILLIONS OF US$
...,...,...,...,...,...,...,...
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [14]:
sample_data[::-1]#it will give all rows in reverse order.

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
...,...,...,...,...,...,...,...
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS

In [15]:
sample_data[::10]#it will give the rows with 10 stepper count.

,Country or Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
10,Dominica,2014,1600.000000,990.000000,4.813710e+07,CYS.AVAILABLE FOR BORROW:GAB,MILLIONS OF SDRS
20,Mozambique,2014,1600.000000,1100.000000,1.086570e+08,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
30,Chad,2014,9025.000000,6615.000000,3.933820e+08,ALLOCATIONS OF SDRS TO DATE,MILLIONS OF SDRS
40,Gabon,2014,2275.000000,2145.000000,1.271450e+09,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
50,Ethiopia,2014,2960.000000,2380.000000,1.780870e+09,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
60,Ecuador,2014,1520.000000,1535.000000,2.873180e+09,ALLOCATIONS OF SDRS TO DATE,MILLIONS OF SDRS
70,Belize,2014,1580.000000,1355.000000,7.318080e+09,"SDR HOLDINGS,ALL PARTICIPANTS",MILLIONS OF SDRS
80,Colombia,2014,2470.000000,2355.000000,1.578610e+10,FOREIGN EXCHANGE,MILLIONS OF SDRS
90,Israel,2014,565.000000,620.000000,3.866280e+10,SDR HOLDINGS,MILLIONS OF SDRS
100,Malaysia,2014,560.000000,525.000000,9.543170e+10,TOTAL RESERVES MINUS GOLD,MILLIONS OF US$
110,Cabo Verde,2014,925.000000,1125.000000,6.555440e+08,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
120,East Asia & Pacific (IDA & IBRD),2014,947.371429,913.800000,6.293770e+07,TOTAL RESERVES MINUS GOLD,MILLIONS OF US$
130,IBRD only,2014,1622.040299,1419.379104,1.338510e+10,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
140,Latin America & Caribbean,2014,1665.921212,1287.275758,3.561450e+08,FOREIGN EXCHANGE,MILLIONS OF US$
150,Middle East & North Africa,2014,1271.619048,1140.333333,9.988340e+07,HOLDINGS OF SDRS,MILLIONS OF US$
160,Pacific island small states,2014,827.555556,828.333333,-7.491120e+07,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
170,Post-demographic dividend,2014,1162.369444,1074.397222,8.500000e+08,FOREIGN EXCHANGE,MILLIONS OF SDRS
180,Saudi Arabia,2014,1309.000000,1285.000000,1.290010e+02,INTERNATIONAL RESERVES,MILLIONS OF SDRS
190,South Africa,2014,2080.000000,1830.000000,3.741850e+09,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
200,Sub-Saharan Africa (excluding high income),2014,2979.989130,2233.217391,1.935860e+00,SDR HOLDINGS,MILLIONS OF SDRS
210,The Bahamas,2014,1770.000000,1005.000000,2.178770e+09,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
220,United Arab Emirates,2014,625.000000,665.000000,1.257800e+05,ALLOCATIONS OF SDRS TO DATE,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$

In [16]:
# indexing in pandas

In [17]:
sample_data.columns

Index(['Country or Area', 'Year', 'Cost to export', 'Cost of Import',
       'Reserves', 'Description', 'Magnitude'],
      dtype='object')

In [18]:
sample_data[0:5]['Year']#it will give 0 to 4th row of Year variable.

0    2014
1    2014
2    2014
3    2014
4    2014
Name: Year, dtype: int64

In [19]:
sample_data[100::-10][['Country or Area','Year']]#it will return 100 to 0 row in reverse order with 10 stepper count

    Country or Area  Year
100        Malaysia  2014
90           Israel  2014
80         Colombia  2014
70           Belize  2014
60          Ecuador  2014
50         Ethiopia  2014
40            Gabon  2014
30             Chad  2014
20       Mozambique  2014
10         Dominica  2014
0           Austria  2014

In [20]:
sample_data.describe()

         Year  Cost to export  Cost of Import      Reserves
count   234.0      234.000000      234.000000  2.340000e+02
mean   2014.0     1884.988911     1565.704956  2.000268e+10
std       0.0     1500.454377     1118.164451  7.449597e+10
min    2014.0      415.000000      410.000000 -7.491120e+07
25%    2014.0     1026.250000      910.950000  6.313170e+07
50%    2014.0     1482.250000     1283.000000  8.606800e+08
75%    2014.0     2173.750000     1806.563847  5.473965e+09
max    2014.0    10650.000000     9050.000000  6.520650e+11

In [21]:
sample_data.transpose()
#this transpose() function is used to transform the rows into colunms and columns into rows

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
Country or Area,Austria,Belgium,Kiribati,Mauritania,Azerbaijan,Bangladesh,Bahrain,Eritrea,Comoros,Lesotho,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,World,Yemen,Zambia,Zimbabwe
Year,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,...,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
Cost to export,1215.0,1400.0,910.0,1523.0,3450.0,1515.0,870.0,2000.0,1295.0,2045.0,...,1440.0,6452.0,1440.0,3695.0,600.0,1425.0,1877.166667,1560.0,7060.0,6160.0
Cost of Import,1150.0,1240.0,870.0,1640.0,3460.0,1281.0,810.0,1850.0,1295.0,1795.0,...,1125.0,5090.0,1490.0,3490.0,610.0,1750.0,1559.882011,1065.0,5165.0,4265.0
Reserves,91.0,92.0,100.0,121172.0,142638.0,142638.0,223612.0,3656710.0,6671210.0,31258600.0,...,157154000.0,246369000.0,7691110.0,1604480000.0,1023470000.0,73380700.0,82.1155,9894150.0,9894150.0,15511000.0
Description,TOTAL RESERVES MINUS GOLD,SDR HOLDINGS,SDR HOLDING IN % OF ALLOCATION,RESERVE TRANCHE POSITION,RESERVE POSITION IN THE FUND,RESERVE POSITION IN THE FUND,INTERNATIONAL RESERVES,HOLDINGS OF SDRS,GOLD IN MILLION OUNCES,FOREIGN EXCHANGE,...,SDR HOLDING IN % OF ALLOCATION,RESERVE TRANCHE POSITION,RESERVE POSITION IN THE FUND,RESERVE POSITION IN THE FUND,MONETARY AUTHORITIES,INTERNATIONAL RESERVES,HOLDINGS OF SDRS,GOVERNMENT,GOLD IN MILLION OUNCES,GOLD (NATIONAL VALUATION)
Magnitude,MILLIONS OF SDRS,MILLIONS OF SDRS,PERCENT PER ANNU,MILLIONS OF SDRS,MILLIONS OF SDRS,MILLIONS OF US$,MILLIONS OF SDRS,MILLIONS OF US$,MILL.FIN.TROY OZ,MILLIONS OF SDRS,...,PERCENT PER ANNU,MILLIONS OF SDRS,MILLIONS OF SDRS,MILLIONS OF US$,MILLIONS OF US$,MILLIONS OF SDRS,MILLIONS OF US$,MILLIONS OF US$,MILL.FIN.TROY OZ,MILLIONS OF US$

In [22]:
sample_data.columns

Index(['Country or Area', 'Year', 'Cost to export', 'Cost of Import',
       'Reserves', 'Description', 'Magnitude'],
      dtype='object')

In [23]:
#we can able to change the columns name by using a way giving below
#here i changed Country or Area to Country/Area
sample_data.columns=['Country/Area', 'Year', 'Cost to export', 'Cost of Import','Reserves', 'Description', 'Magnitude']

In [24]:
sample_data.columns

Index(['Country/Area', 'Year', 'Cost to export', 'Cost of Import', 'Reserves',
       'Description', 'Magnitude'],
      dtype='object')

In [25]:
sample_data.head()

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.0,870.0,100.0,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.0,1640.0,121172.0,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.0,3460.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS

In [26]:
sample_data[::-1]

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
...,...,...,...,...,...,...,...
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS

In [27]:
sample_data[:-2:2]

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
6,Bahrain,2014,870.000000,810.000000,2.236120e+05,INTERNATIONAL RESERVES,MILLIONS OF SDRS
8,Comoros,2014,1295.000000,1295.000000,6.671210e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
...,...,...,...,...,...,...,...
222,United States,2014,1289.000000,1224.000000,2.001480e+09,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
224,Uruguay,2014,1440.000000,1125.000000,1.571540e+08,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
226,Vanuatu,2014,1440.000000,1490.000000,7.691110e+06,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
228,Vietnam,2014,600.000000,610.000000,1.023470e+09,MONETARY AUTHORITIES,MILLIONS OF US$
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$

In [28]:
sample_data[200::-1]

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
200,Sub-Saharan Africa (excluding high income),2014,2979.989130,2233.217391,1.935860e+00,SDR HOLDINGS,MILLIONS OF SDRS
199,Sub-Saharan Africa,2014,2930.946809,2200.702128,2.278770e+06,ALLOCATIONS OF SDRS TO DATE,MILLIONS OF SDRS
198,St. Vincent and the Grenadines,2014,1425.000000,585.000000,9.442330e+08,FOREIGN EXCHANGE,MILLIONS OF SDRS
197,St. Lucia,2014,2280.000000,935.000000,1.480270e+09,FOREIGN EXCHANGE,MILLIONS OF US$
196,St. Kitts and Nevis,2014,2615.000000,805.000000,1.451950e+10,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
...,...,...,...,...,...,...,...
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS

In [29]:
sample_data[:]

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
...,...,...,...,...,...,...,...
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$

In [30]:
sample_data[:5]

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.0,870.0,100.0,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.0,1640.0,121172.0,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.0,3460.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS

In [31]:
sample_data.head()#by default 5 records

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.0,870.0,100.0,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.0,1640.0,121172.0,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.0,3460.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS

In [32]:
sample_data.head(10)

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS
2,Kiribati,2014,910.0,870.0,100.0,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU
3,Mauritania,2014,1523.0,1640.0,121172.0,RESERVE TRANCHE POSITION,MILLIONS OF SDRS
4,Azerbaijan,2014,3450.0,3460.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS
5,Bangladesh,2014,1515.0,1281.0,142638.0,RESERVE POSITION IN THE FUND,MILLIONS OF US$
6,Bahrain,2014,870.0,810.0,223612.0,INTERNATIONAL RESERVES,MILLIONS OF SDRS
7,Eritrea,2014,2000.0,1850.0,3656710.0,HOLDINGS OF SDRS,MILLIONS OF US$
8,Comoros,2014,1295.0,1295.0,6671210.0,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ
9,Lesotho,2014,2045.0,1795.0,31258600.0,FOREIGN EXCHANGE,MILLIONS OF SDRS

In [33]:
sample_data.head(2)

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,Austria,2014,1215.0,1150.0,91.0,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS
1,Belgium,2014,1400.0,1240.0,92.0,SDR HOLDINGS,MILLIONS OF SDRS

In [34]:
sample_data[['Country/Area','Reserves']].isnull()

     Country/Area  Reserves
0           False     False
1           False     False
2           False     False
3           False     False
4           False     False
..            ...       ...
229         False     False
230         False     False
231         False     False
232         False     False
233         False     False

[234 rows x 2 columns]

In [35]:
sample_data.isnull()#it will gives true/false. if there is empty then it is false orelse true

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
229,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False
231,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False

In [36]:
sample_data.isnull().sum()#it will give number of null values

Country/Area      0
Year              0
Cost to export    0
Cost of Import    0
Reserves          0
Description       0
Magnitude         0
dtype: int64

In [37]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Area    234 non-null    object
 1   Year            234 non-null    int64
 2   Cost to export  234 non-null    float64
 3   Cost of Import  234 non-null    float64
 4   Reserves        234 non-null    float64
 5   Description     234 non-null    object
 6   Magnitude       234 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 12.9+ KB

In [38]:
sample_data[['Country/Area','Description','Magnitude']].describe()#for catogorical data the describe() wil give count', 'unique', 'top', 'freq'.

       Country/Area                   Description         Magnitude
count           234                           234               234
unique          234                            28                 4
top         Austria  RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
freq              1                            32               125

In [39]:
#describe() wil be defalut it gives descriptive statastics for numarical data.

In [40]:
['Country/Area','Description','Magnitude']#normal list

['Country/Area', 'Description', 'Magnitude']

In [41]:
#PANDAS INDEXING
sample_data[100:50:-1][['Country/Area','Description','Magnitude']]

           Country/Area                     Description         Magnitude
100            Malaysia       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
99               Bhutan     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
98              Denmark                FOREIGN EXCHANGE  MILLIONS OF SDRS
97            Indonesia                FOREIGN EXCHANGE   MILLIONS OF US$
96               Mexico                HOLDINGS OF SDRS   MILLIONS OF US$
95              Bolivia          INTERNATIONAL RESERVES  MILLIONS OF SDRS
94               France    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
93                 Iraq    RESERVE POSITION IN THE FUND   MILLIONS OF US$
92              Hungary        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
91       Czech Republic  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
90               Israel                    SDR HOLDINGS  MILLIONS OF SDRS
89              Germany       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
88                Egypt       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
87                Italy                FOREIGN EXCHANGE  MILLIONS OF SDRS
86              Lebanon                FOREIGN EXCHANGE   MILLIONS OF US$
85                Chile          INTERNATIONAL RESERVES  MILLIONS OF SDRS
84               Canada       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
83              Morocco       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
82           Kazakhstan     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
81               Kuwait                FOREIGN EXCHANGE   MILLIONS OF US$
80             Colombia                FOREIGN EXCHANGE  MILLIONS OF SDRS
79          New Zealand          INTERNATIONAL RESERVES  MILLIONS OF SDRS
78               Angola    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
77                Benin        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
76               Jordan        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
75          Netherlands  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
74             Bulgaria                    SDR HOLDINGS  MILLIONS OF SDRS
73              Finland      SDR HOLDINGS IN US DOLLARS   MILLIONS OF US$
72              Croatia       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
71             Botswana       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
70               Belize   SDR HOLDINGS,ALL PARTICIPANTS  MILLIONS OF SDRS
69               Latvia     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
68            Lithuania        AMOUNTS AGREED UNDER GAB  MILLIONS OF SDRS
67            Guatemala    CYS.AVAILABLE FOR BORROW:GAB  MILLIONS OF SDRS
66           Costa Rica                            GOLD  MILLIONS OF SDRS
65                Kenya           GOLD AT MARKET PRICES  MILLIONS OF SDRS
64              Iceland                HOLDINGS OF SDRS   MILLIONS OF US$
63             Cameroon    RESERVE POSITION IN THE FUND   MILLIONS OF US$
62    Equatorial Guinea        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
61   Dominican Republic  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
60              Ecuador     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
59          El Salvador                FOREIGN EXCHANGE  MILLIONS OF SDRS
58              Estonia                FOREIGN EXCHANGE   MILLIONS OF US$
57             Barbados   GOLD AC.TO NATIONAL VALUATION   MILLIONS OF US$
56              Albania          GOLD IN MILLION OUNCES  MILL.FIN.TROY OZ
55            Mauritius                HOLDINGS OF SDRS   MILLIONS OF US$
54              Georgia          INTERNATIONAL RESERVES  MILLIONS OF SDRS
53              Jamaica    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
52              Ireland    RESERVE POSITION IN THE FUND   MILLIONS OF US$
51             Cambodia        RESERVE TRANCHE POSITION  MILLIONS OF SDRS

In [42]:
sample_data[['Country/Area','Description','Magnitude']][100:50:-1]

           Country/Area                     Description         Magnitude
100            Malaysia       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
99               Bhutan     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
98              Denmark                FOREIGN EXCHANGE  MILLIONS OF SDRS
97            Indonesia                FOREIGN EXCHANGE   MILLIONS OF US$
96               Mexico                HOLDINGS OF SDRS   MILLIONS OF US$
95              Bolivia          INTERNATIONAL RESERVES  MILLIONS OF SDRS
94               France    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
93                 Iraq    RESERVE POSITION IN THE FUND   MILLIONS OF US$
92              Hungary        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
91       Czech Republic  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
90               Israel                    SDR HOLDINGS  MILLIONS OF SDRS
89              Germany       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
88                Egypt       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
87                Italy                FOREIGN EXCHANGE  MILLIONS OF SDRS
86              Lebanon                FOREIGN EXCHANGE   MILLIONS OF US$
85                Chile          INTERNATIONAL RESERVES  MILLIONS OF SDRS
84               Canada       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
83              Morocco       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
82           Kazakhstan     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
81               Kuwait                FOREIGN EXCHANGE   MILLIONS OF US$
80             Colombia                FOREIGN EXCHANGE  MILLIONS OF SDRS
79          New Zealand          INTERNATIONAL RESERVES  MILLIONS OF SDRS
78               Angola    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
77                Benin        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
76               Jordan        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
75          Netherlands  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
74             Bulgaria                    SDR HOLDINGS  MILLIONS OF SDRS
73              Finland      SDR HOLDINGS IN US DOLLARS   MILLIONS OF US$
72              Croatia       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
71             Botswana       TOTAL RESERVES MINUS GOLD   MILLIONS OF US$
70               Belize   SDR HOLDINGS,ALL PARTICIPANTS  MILLIONS OF SDRS
69               Latvia     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
68            Lithuania        AMOUNTS AGREED UNDER GAB  MILLIONS OF SDRS
67            Guatemala    CYS.AVAILABLE FOR BORROW:GAB  MILLIONS OF SDRS
66           Costa Rica                            GOLD  MILLIONS OF SDRS
65                Kenya           GOLD AT MARKET PRICES  MILLIONS OF SDRS
64              Iceland                HOLDINGS OF SDRS   MILLIONS OF US$
63             Cameroon    RESERVE POSITION IN THE FUND   MILLIONS OF US$
62    Equatorial Guinea        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
61   Dominican Republic  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
60              Ecuador     ALLOCATIONS OF SDRS TO DATE  MILLIONS OF SDRS
59          El Salvador                FOREIGN EXCHANGE  MILLIONS OF SDRS
58              Estonia                FOREIGN EXCHANGE   MILLIONS OF US$
57             Barbados   GOLD AC.TO NATIONAL VALUATION   MILLIONS OF US$
56              Albania          GOLD IN MILLION OUNCES  MILL.FIN.TROY OZ
55            Mauritius                HOLDINGS OF SDRS   MILLIONS OF US$
54              Georgia          INTERNATIONAL RESERVES  MILLIONS OF SDRS
53              Jamaica    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
52              Ireland    RESERVE POSITION IN THE FUND   MILLIONS OF US$
51             Cambodia        RESERVE TRANCHE POSITION  MILLIONS OF SDRS

In [43]:
sample_data[['Description','Magnitude']][:10]

                      Description         Magnitude
0       TOTAL RESERVES MINUS GOLD  MILLIONS OF SDRS
1                    SDR HOLDINGS  MILLIONS OF SDRS
2  SDR HOLDING IN % OF ALLOCATION  PERCENT PER ANNU
3        RESERVE TRANCHE POSITION  MILLIONS OF SDRS
4    RESERVE POSITION IN THE FUND  MILLIONS OF SDRS
5    RESERVE POSITION IN THE FUND   MILLIONS OF US$
6          INTERNATIONAL RESERVES  MILLIONS OF SDRS
7                HOLDINGS OF SDRS   MILLIONS OF US$
8          GOLD IN MILLION OUNCES  MILL.FIN.TROY OZ
9                FOREIGN EXCHANGE  MILLIONS OF SDRS

In [44]:
#adding a new attribute to the exsiting dataframe.
sample_data.columns

Index(['Country/Area', 'Year', 'Cost to export', 'Cost of Import', 'Reserves',
       'Description', 'Magnitude'],
      dtype='object')

In [45]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Area    234 non-null    object
 1   Year            234 non-null    int64
 2   Cost to export  234 non-null    float64
 3   Cost of Import  234 non-null    float64
 4   Reserves        234 non-null    float64
 5   Description     234 non-null    object
 6   Magnitude       234 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 12.9+ KB

In [46]:
a=sample_data['Cost to export']*sample_data['Cost of Import']

In [47]:
sample_data['new']=a

In [48]:
sample_data#new attribute is added

,Country/Area,Year,Cost to export,Cost of Import,Reserves,Description,Magnitude,new
0,Austria,2014,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS,1.397250e+06
1,Belgium,2014,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS,1.736000e+06
2,Kiribati,2014,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU,7.917000e+05
3,Mauritania,2014,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS,2.497720e+06
4,Azerbaijan,2014,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS,1.193700e+07
...,...,...,...,...,...,...,...,...
229,West Bank and Gaza,2014,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS,2.493750e+06
230,World,2014,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$,2.928159e+06
231,Yemen,2014,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$,1.661400e+06
232,Zambia,2014,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ,3.646490e+07
233,Zimbabwe,2014,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$,2.627240e+07

In [49]:
sample_data.drop('Year',axis=1,inplace=True)#to remove an attribute in the existing dataframe

In [50]:
sample_data

,Country/Area,Cost to export,Cost of Import,Reserves,Description,Magnitude,new
0,Austria,1215.000000,1150.000000,9.100000e+01,TOTAL RESERVES MINUS GOLD,MILLIONS OF SDRS,1.397250e+06
1,Belgium,1400.000000,1240.000000,9.200000e+01,SDR HOLDINGS,MILLIONS OF SDRS,1.736000e+06
2,Kiribati,910.000000,870.000000,1.000000e+02,SDR HOLDING IN % OF ALLOCATION,PERCENT PER ANNU,7.917000e+05
3,Mauritania,1523.000000,1640.000000,1.211720e+05,RESERVE TRANCHE POSITION,MILLIONS OF SDRS,2.497720e+06
4,Azerbaijan,3450.000000,3460.000000,1.426380e+05,RESERVE POSITION IN THE FUND,MILLIONS OF SDRS,1.193700e+07
...,...,...,...,...,...,...,...
229,West Bank and Gaza,1425.000000,1750.000000,7.338070e+07,INTERNATIONAL RESERVES,MILLIONS OF SDRS,2.493750e+06
230,World,1877.166667,1559.882011,8.211550e+01,HOLDINGS OF SDRS,MILLIONS OF US$,2.928159e+06
231,Yemen,1560.000000,1065.000000,9.894150e+06,GOVERNMENT,MILLIONS OF US$,1.661400e+06
232,Zambia,7060.000000,5165.000000,9.894150e+06,GOLD IN MILLION OUNCES,MILL.FIN.TROY OZ,3.646490e+07
233,Zimbabwe,6160.000000,4265.000000,1.551100e+07,GOLD (NATIONAL VALUATION),MILLIONS OF US$,2.627240e+07

In [51]:
#Today Numpy Function

import numpy as np
a=np.array([0,2,5])
b=np.array([8,5,9])

np.add(a,b)#in this function the shape/size of the two arrays must be same.

array([ 8,  7, 14])

# Task-5

In [725]:
#Task:- Convert Raw Data To Clean Data Using Python split() function.

#we are having a raw dataset, we need to convert in as a clean dataset.

In [764]:
raw_data=pd.read_excel(r"D:\Temp\Data Science & Artificial Intelligence\Completed\Week-3\Class-15 on 06-02-2024 on Tuesday\Notes\6th\6th\TASK -- convert raw data - clean data.xlsx")

In [765]:
#This is our raw dataset
#in row 2,3 we have raw data.
#we need to convert it as clean data as in row 7,8.
raw_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,THIS IS NOT CLEAN DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,ADDR,DT,NAME,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"45 rd, kenith street, btm, bangalore 500038",2022-04-03 00:00:00,abc,8:30:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,"45 rd, street, hitech, Hd 500038",2022-04-02 00:00:00,dec,5:30:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,THIS IS CLEAN DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,House add,street,city,state,zip,date,month,year,name,hr,min,sec
8,NaN,NaN,45 rd,kenith,btm,banga,50038,3,4,2022,abc,8,30,21

In [766]:
#here i'm taking the raw to create a new dataframe.
#in excel it is dataset, in database it is table, in pandas it is dataframe.
raw=pd.DataFrame(raw_data.loc[2:3,'Unnamed: 2':'Unnamed: 5'])
#pd,DataFrame() is used to create a new dataframe.
#.loc[] & iloc[] are used to extract specific rows and columns in a dataframe.
#as of now don't worry about loc[] and iloc[].

raw.columns=raw_data.loc[1:1,'Unnamed: 2':'Unnamed: 5'].values.tolist()[0]
#in above line i'm changing the raw dataframe column names

In [767]:
clean=pd.DataFrame(raw_data.loc[4:6,'Unnamed: 2':])
#here creating new dataframe as clean.

In [768]:
clean.columns=raw_data.loc[7:7,'Unnamed: 2':].values.tolist()[0]
#in above line i'm changing the clean dataframe column names

In [769]:
#now we are having raw and clean dataframes

In [770]:
raw

,ADDR,DT,NAME,time
2,"45 rd, kenith street, btm, bangalore 500038",2022-04-03 00:00:00,abc,8:30:21
3,"45 rd, street, hitech, Hd 500038",2022-04-02 00:00:00,dec,5:30:21

In [771]:
clean

  House add street city state  zip date month year name   hr  min  sec
4       NaN    NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
5       NaN    NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
6       NaN    NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN

In [772]:
#here i'm reseting the index of the dataframes
raw=raw.reset_index().drop('index',axis=1)
clean=clean.reset_index().drop('index',axis=1)

In [773]:
clean.drop(2,axis=0,inplace=True)

In [774]:
clean

  House add street city state  zip date month year name   hr  min  sec
0       NaN    NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
1       NaN    NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN

In [790]:
#This loop will convert the raw data into clean data
for i in range(len(raw)):
    clean.iloc[i:i+1,0:4]=str(raw.loc[i:i].values.tolist()[0][0]).split(',')
    clean.iloc[i:i+1,3:5]=str(clean.loc[i:i,'state':'state'].values.tolist()[0][0]).split()
    clean.iloc[i:i+1,5:8]=str(raw.iloc[i:i+1,1:].values.tolist()[0][0]).split()[0].split('-')[::-1]
    clean.iloc[i:i+1,8:9]=raw.iloc[i:i+1,2:3].values.tolist()[0]
    clean.iloc[i:i+1,9:]=str(raw.iloc[i:i+1,3:].values.tolist()[0][0]).split()[0].split(':')

In [792]:
clean#this is the clean data.

,House add,street,city,state,zip,date,month,year,name,hr,min,sec
0,45 rd,kenith street,btm,bangalore,500038,03,04,2022,abc,8,30,21
1,45 rd,street,hitech,Hd,500038,02,04,2022,dec,5,30,21

# Task-6

In [796]:
#Task-6: convert the csv file into excel, json, html and read those files by using pandas library.

In [798]:
import pandas as pd

In [802]:
#by using read_csv() we acn read csv files
csv_file=pd.read_csv(r"D:\Temp\Data Science & Artificial Intelligence\Sample Dataset\archive (3)\Hospitals and beds maintained by Railways.csv")

In [804]:
csv_file

,Number of Hospitals and beds in Railways (as on 21/03/2018),Unnamed: 1,Unnamed: 2,Unnamed: 3
0,S.No.,Zone / PU,Total No. of Hospitals,Total No. of Indoor Beds
1,1,Central Railway,11,1164
2,2,Eastern Railway,8,1587
3,3,East central Railway,9,819
4,4,East coast Railway,4,339
5,5,Northern Railway,9,1101
6,6,North Central Railway,5,586
7,7,North East Railway,6,927
8,8,North East Frontier Railway,10,1107
9,9,North Western Railway,8,584
10,10,Southern Railway,10,1131
11,11,South Central Railway,7,714
12,12,South Eastern Railway,6,1086
13,13,South East Central Railway,5,250
14,14,South Western Railway,3,300
15,15,Western Railway,9,976
16,16,West Central Railway,7,456
17,17,Intergral Coach Factory,1,101
18,18,Rail Coach Factory,1,60
19,19,Chittaranjan Locomotive Works,1,197
20,20,Diesal Locomotive Works,1,105
21,21,Diesel Loco Modernisation Works,1,50
22,22,Rail Wheel Factory,1,46
23,23,Research Design and Standards Organization,1,30
24,24,Metro/ Kolkata,1,30
25,25,MCF/Raibareli,1,2
26,26,Total,126,13748

In [834]:
#by using to_excel() we can convert a file into excel format
csv_file.to_excel(r"D:\Temp\Data Science & Artificial Intelligence\Sample Dataset\archive (3)\Hospitals and beds maintained by Railways.xlsx")

In [828]:
#by using to_json() we can convert a file into json format
csv_file.to_json(r"D:\Temp\Data Science & Artificial Intelligence\Sample Dataset\archive (3)\Hospitals and beds maintained by Railways.json")

In [832]:
#by using to_html() we can convert a file into excel format
csv_file.to_html(r"D:\Temp\Data Science & Artificial Intelligence\Sample Dataset\archive (3)\Hospitals and beds maintained by Railways.html")